<h1>Login Here!</h1>
<form method="POST" action="/login">
  <label>Email:<input type="text" name="email"></label>
  <label>Password:<input type="password" name="password"></label>
<input type="submit" value="Login" id="submit">
</form>
<a href="/signup">Signup Here!</a>
