<h1>Create your account and share poppin apparel!</h1>
<form method="post" action="/users">
  <label>Name: <input type="text" name="user[name]"></label>
  <br>
  <label>Email: <input type="text" name="user[email]"></label>
  <br>
  <label>Password: <input type="text" name="user[password]"></label>
  <br>
  <input type="submit" value="Sign Up!">
</form>
