<h1><%=@wishlist.name%></h1>
<%@wishlist.products.all.each_with_index do |product, i|%>
<a href="/products/<%=product.id%>"><%="#{i+1}. #{product.name}"%><br></a>
<%end%><br>
<form method="post" action="/wishlists/<%=@wishlist.id%>">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Wishlist" id="submit">
</form>
<a href="/products">Browse Products</a><br>
<a href="/wishlists">Back To Wishlists</a>
